<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/script.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="message">arraste ~ click ~ plante</div>
        <div class="item">🌻</div>
        <div class="item">🍀</div>
        <div class="item">🍁</div>
        <div class="item">🌸</div>
        <div class="item">🍓</div>
        <div class="item">🍅</div>
        <div class="item">🌼</div>
        <div class="item">🌿</div>
        <div class="item">🍂</div>
        <div class="item">🌵</div>
        <div class="item">💐</div>
        <div class="item">🍇</div>
        <div class="item">🌴</div>
        <div class="item">🥕</div>
        <div class="item">💐</div>
        <div class="item">🌹</div>
        <div class="item">🌲</div>
        <div class="item">🍄</div>
        <div class="item">🌵</div>
        <div class="item">🍂</div>
        <div class="item">🌽</div>
        <div class="item">🥑</div>
    </div>
</body>
</html


